*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: Serif;
}

html{
    font-size: 70%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: white;
    padding: 2rem 7%;
    text-align: center;

}

.container{
    margin-top: 100px;
}

h2{
    margin: 10px 0;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.detail{
    display: flex;
    justify-content: space-around;
}
.detail .volume{
    display: flex;
    flex-direction: column;
}
button{
    margin: 20px;
    font-size: small;
    background-color: #fff;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 20px; 
}